<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New person</title>
</head>
<body>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="firstName">Enter first name</label>
        <input type="text" th:field="*{firstName}" id="firstName"/>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
        <br/>

        <label for="lastName">Enter last name</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
        <br/>

        <label for="yearOfBirth">Enter year Of Birth</label>
        <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
        <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">birthDate error</div>
        <br/>
        
        
        <input type="submit" value="Create!">
    </form>
</body>
</html>